* {
    box-sizing: border-box;
    margin: 10px;
}

ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.no-underline {
    padding-left: 0;
    text-decoration: none;
}


ol li {
    border: 1px solid #ddd;
    margin-top: -1px;
    /* Prevent double borders */
    background-color: #f6f6f6;
    padding: 20px;

}